*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.outerContainer{
  background-color: rgb(33, 33, 33);
  margin: 0;
  min-height: 100vh;
  height: 100%;
}
.innerContainer{
  margin: auto;
  padding-top: 160px;
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  height: 100%;
}
.card{
  margin: 20px 0px;
}